In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv(r'C:\Users\20203011\OneDrive - TU Eindhoven\Documents\Uni\Visualisation\Match.csv')

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [7]:
#data mooi krijgen + Y coordinaten achter elkaar plakken
#data is verrassend simpel, Y is iets in [1,11]
#keeper heb ik weggelaten, als het goed is is dat elke keer speler 1
df_match = df[['id', 'date', 'home_team_goal','away_team_goal','home_player_X1','home_player_X2','home_player_X3','home_player_X4','home_player_X5','home_player_X6','home_player_X7','home_player_X8','home_player_X9','home_player_X10','home_player_X11','away_player_X1','away_player_X2','away_player_X3','away_player_X4','away_player_X5','away_player_X6','away_player_X7','away_player_X8','away_player_X9','away_player_X10','away_player_X11','home_player_Y1','home_player_Y2','home_player_Y3','home_player_Y4','home_player_Y5','home_player_Y6','home_player_Y7','home_player_Y8','home_player_Y9','home_player_Y10','home_player_Y11','away_player_Y1','away_player_Y2','away_player_Y3','away_player_Y4','away_player_Y5','away_player_Y6','away_player_Y7','away_player_Y8','away_player_Y9','away_player_Y10','away_player_Y11']].dropna().copy().reset_index()
homeYs = ['home_player_Y2','home_player_Y3','home_player_Y4','home_player_Y5','home_player_Y6','home_player_Y7','home_player_Y8','home_player_Y9','home_player_Y10','home_player_Y11']
awayYs = ['away_player_Y2','away_player_Y3','away_player_Y4','away_player_Y5','away_player_Y6','away_player_Y7','away_player_Y8','away_player_Y9','away_player_Y10','away_player_Y11']
df_match['home_players_Y'] = df_match[homeYs].astype(int).astype(str).apply(lambda x: '-'.join(x), axis=1)
df_match['away_players_Y'] = df_match[awayYs].astype(int).astype(str).apply(lambda x: '-'.join(x), axis=1)
df_match[['home_players_Y', 'away_players_Y']][1500:1530]

              home_players_Y          away_players_Y
1500  3-3-3-3-7-7-7-10-10-10    3-3-3-3-6-6-8-8-8-11
1501   3-3-3-3-7-7-7-7-10-10   3-3-3-3-7-7-7-7-10-10
1502   3-3-3-3-7-7-7-7-10-10    3-3-3-3-6-6-6-8-8-11
1503    3-3-3-3-6-6-8-8-8-11  3-3-3-3-7-7-7-10-10-10
1504  3-3-3-3-7-7-7-10-10-10   3-3-3-3-7-7-7-7-10-10
1505    3-3-3-3-6-6-8-8-8-11    3-3-3-3-6-6-8-8-8-11
1506    3-3-3-3-6-6-8-8-8-11   3-3-3-3-3-7-7-7-10-10
1507    3-3-3-3-6-6-8-8-8-11    3-3-3-3-6-6-8-8-8-11
1508  3-3-3-3-7-7-7-10-10-10  3-3-3-3-7-7-7-10-10-10
1509  3-3-3-3-7-7-7-10-10-10   3-3-3-3-6-7-7-9-11-11
1510    3-3-3-3-6-6-8-8-8-11    3-3-3-3-6-6-8-8-8-11
1511   3-3-3-7-7-7-7-7-10-10  3-3-3-3-7-7-7-10-10-10
1512   3-3-3-3-7-7-7-7-10-10   3-3-3-3-7-7-7-7-10-10
1513    3-3-3-3-6-6-8-8-8-11   3-3-3-3-6-6-6-8-10-10
1514  3-3-3-3-6-6-8-10-10-10    3-3-3-3-7-7-7-7-7-11
1515    3-3-3-3-7-7-7-7-9-11    3-3-3-3-7-7-7-7-7-11
1516    3-3-3-3-6-6-8-8-8-11    3-3-3-3-6-6-8-8-8-11
1517    3-3-3-3-6-6-8-8-8-11  3-3-3-3-7-7-7-10-10-10
1518  3-3-3-3-7-7-7-10-10-10  3-3-3-3-7-7-7-10-10-10
1519   3-3-3-3-7-7-7-7-10-10    3-3-3-3-6-6-8-8-8-11
1520   3-3-3-3-7-7-7-7-10-10    3-3-3-3-7-7-7-7-9-11
1521   3-3-3-3-7-7-7-7-10-10    3-3-3-3-7-7-7-7-7-11
1522   3-3-3-3-7-7-7-7-10-10   3-3-3-3-7-7-7-7-10-10
1523   3-3-3-3-7-7-7-7-10-10   3-3-3-3-7-7-7-7-10-10
1524   3-3-3-3-7-7-7-7-10-10    3-3-3-3-7-7-7-7-7-11
1525    3-3-3-3-7-7-7-7-7-11   3-3-3-3-7-7-7-7-10-10
1526   3-3-3-3-7-7-7-7-10-10   3-3-3-3-7-7-7-7-10-10
1527    3-3-3-3-7-7-7-7-7-11   3-3-3-3-7-7-7-7-10-10
1528   3-3-3-3-7-7-7-7-10-10   3-3-3-3-7-7-7-7-10-10
1529    3-3-3-3-6-6-6-8-8-11   3-3-3-3-7-7-7-7-10-10

In [13]:
#telt achtereenvolgende gelijke getallen
#thanks chatgpt :)
def count_unique_values(concatenated_string):
    values = list(map(int, concatenated_string.split('-')))
    unique_counts = []
    seen = set()

    for value in values:
        if value not in seen:
            unique_counts.append(values.count(value))
            seen.add(value)

    return '-'.join(map(str, unique_counts))
df_match['home_formation'] = df_match['home_players_Y'].apply(count_unique_values)
df_match['away_formation'] = df_match['away_players_Y'].apply(count_unique_values)
df_match.head()

,index,id,date,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,...,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_players_Y,away_players_Y,home_formation,away_formation
0,144,145,2009-02-28 00:00:00,1,1,1.0,2.0,4.0,6.0,8.0,...,7.0,7.0,7.0,7.0,10.0,10.0,3-3-3-3-7-7-7-7-10-10,3-3-3-3-7-7-7-7-10-10,4-4-2,4-4-2
1,145,146,2009-02-27 00:00:00,2,1,1.0,2.0,4.0,6.0,8.0,...,7.0,7.0,7.0,7.0,10.0,10.0,3-3-3-3-7-7-7-7-10-10,3-3-3-3-7-7-7-7-10-10,4-4-2,4-4-2
2,146,147,2009-02-28 00:00:00,3,0,1.0,2.0,4.0,6.0,8.0,...,7.0,7.0,7.0,7.0,10.0,10.0,3-3-3-3-7-7-7-7-10-10,3-3-3-3-7-7-7-7-10-10,4-4-2,4-4-2
3,147,148,2009-03-01 00:00:00,4,0,1.0,2.0,4.0,6.0,8.0,...,7.0,7.0,7.0,7.0,10.0,10.0,3-3-3-3-7-7-7-7-10-10,3-3-3-3-7-7-7-7-10-10,4-4-2,4-4-2
4,148,149,2009-03-01 00:00:00,0,1,1.0,2.0,4.0,8.0,6.0,...,7.0,7.0,7.0,7.0,10.0,10.0,3-3-3-3-7-7-7-7-10-10,3-3-3-3-7-7-7-7-10-10,4-4-2,4-4-2

In [10]:
df_match[['home_formation', 'date']].groupby('home_formation').count()

                date
home_formation
3-2-3-2           13
3-3-3-1            8
3-4-1-2          145
3-4-2-1          166
3-4-3            283
3-5-1-1          123
3-5-2            685
4-1-2-1-2        562
4-1-2-2-1        373
4-1-2-3           79
4-1-3-2          253
4-1-4-1          615
4-2-1-1-2          3
4-2-1-3           35
4-2-2-2          552
4-2-3-1         6380
4-3-1-2          681
4-3-2-1          289
4-3-3           4374
4-4-1-1          896
4-4-2           6423
4-5-1            943
5-3-1-1            2
5-3-2            187
5-4-1             70

In [11]:
df_export = df_match[['id', 'date', 'home_team_goal', 'away_team_goal', 'home_formation', 'away_formation']]
df_export_ready = df_export.rename(columns={"home_team_goal": "score_home", "away_team_goal": "score_away"})
df_export_ready.to_csv('Match formations.csv', sep=',', index=False, encoding='utf-8')